@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    font-family: 'Rubik', sans-serif;
    color: white;
}

body{
    background-color: rgb(255, 255, 255);
}

nav{
    background-color:rgb(35, 48, 74) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.navbar img{
    height: 75px;
    width: auto;
    object-fit:cover ;
    margin-left: 50px;
    cursor: pointer;
}



.box{
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:533px;
    height: 30px;
    text-align: center;
}


.box button{
    width: 100px;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    background: none;
    border-style:none;
    
    border-radius: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.box button:hover{
    color: rgba(255, 255, 255, 0.825);
    background-color: rgb(29, 39, 61);
    
}

.iniciar_s button{
    border-radius: 50px;
    background-color: white;
    font-weight: 600;
    color: rgb(35, 48, 74);
    width: 100px;
    margin-left: 20px;
}

 /* font-family: 'Roboto', sans-serif; */